<div class="container mt-67">
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-12">
      <h1>
        {{product.name}}
      </h1>
    </div>
    <div class="col-md-4">
      <img
        class="img-responsive center-block"
        src="{{product.SKU.image}}"
        style="width: 400px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;"
      />
      <br />
    </div>
    <div class="col-md-8">
      <div class="well">
        <ul class="list-unstyled">
          <li>
            <strong>
              Category:
            </strong>
            {{#if product.Category.parent.name}}
              [{{product.Category.parent.name}}] ->
            {{/if}}
            [
            {{product.Category.name}}
            ]
          </li>
          <li>
            <strong>
              Price:
            </strong>
            {{product.SKU.price}}
          </li>
          <li>
            <strong>
              Invetory:
            </strong>
            {{product.invetory}}
          </li>
        </ul>
      </div>
      <div>
        <strong>
          Spec:
        </strong>
      </div>
      <p style="white-space: break-spaces;">
        {{product.spuSpec}}
      </p>
      <div>
        <strong>
          Description:
        </strong>
      </div>
      <p style="white-space: break-spaces;">
        {{product.SKU.desc}}
      </p>
    </div>
    <hr />
  </div>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">
    Back
  </a>
</div>